# Système Intelligent de Compression Audio
# Dépendances Python

# ── API Backend ───────────────────────────────────────────────────────────────
fastapi
uvicorn
pydantic
python-multipart

# ── Audio Analysis ────────────────────────────────────────────────────────────
librosa
soundfile
numpy

# ── Interface Streamlit ───────────────────────────────────────────────────────
streamlit
plotly
requests

# ── Env variables ─────────────────────────────────────────────────────────────
python-dotenv
